*{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.h1{
    font-size: 50px;
}
.name-highlight{
    color:orange;
}

.halfwidth{
    width: 40%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}

.halfwidth img{
    width: 60%;
}

.topbanner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}

.btn{
    text-decoration: none;
    padding:7px;
    background-image: linear-gradient(45deg,orange,yellow);
    border-radius: 5px;
    color: rgb(15, 15, 59);
    font-weight: bold;
    font-size: 20px;
}

.bigdream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    float: right;
    background-position:right ;
}

.halfwidthlast{
    width:38%;
    margin-left:5%;
   padding:2%;
    float:left;
    height:200px;
    border-radius: 5px;
}

.border{
    border-left:10px solid rgb(13, 36, 97);
    box-shadow: 5px 10px 10px 10px gray;
}

.bordero{
    border-left:10px solid rgb(92, 47, 5);
    box-shadow: 5px 10px 10px 10px gray;
}

.lasts h1{
    margin:20px 70px;
    font-weight: bold;
    font-size: 30px;
}

.fs{
    margin-top: 350px;
    

}

.fsp{
    text-align: center;
}




